<!DOCTYPE html>
<html lang="en">
<head>
  <title>Choose # of players</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
 </head>
<body>
        <div class="container">
            <h3 class="text-success">How many players?</h3>
            <form action='/single_person_form'>
                <button type="submit">One</button>
            </form>

            <form action='/multi_person_form'>
              <button type="submit">Two</button>
            </form>

        </div>
</body>
</html>
