<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Result</title>
</head>
<body>
    <div class="container">
        <h3>The winner of this dramatic test is:</h3>

           <p> {{ winner }} </p>

    </div>

</body>
</html>
