<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Result</title>
</head>
<body>
    <div class="container">
        <h2>The winner of this dramatic test is:</h2>

           <h3 class="text-success"> {{ winner }} </h3>
           <a href='/'><button class="btn btn-warning">Home</button></a>

    </div>

</body>
</html>
