<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Single Player Form</title>
</head>
<body>
  <div class="container">
      <h3>Single Player</h3>
      <form action="/create_single_hand">
          <label for = "single_hand_input">Rock, Paper, or Scissors?</label>
          <input name="single_hand_input" id="single_hand_input" type="text" class="form-control">
          <button type="submit" class="btn btn-warning">click</button>
     </form>
 </div>
</body>
</html>
