<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <h3>single player form</h3>
  <form action="/create_single_hand">
      <label for = "single_hand_input">Rock Paper or scissors?</label>
      <input name="single_hand_input" id="single_hand_input" type="text" class="form-control">
      <button type="submit" class="btn btn-warning">click</button>
 </form>
</body>
</html>
